<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Item: form</title>
  </head>
  <body>
    <%- include('../nav'); -%>
    <h2>Add new item</h2>
    <form
      action="<%= item ? '/item/' + item.id + '/update' : '/item/create' %>"
      method="POST"
    >
      <label for="name">Item:</label>
      <input type="text" id="name" name="name" value="<%= item.name || ''%>" />

      <label for="categoryId">Category ID: </label>
      <input
        type="number"
        id="categoryId"
        name="categoryId"
        value="<%= item.categoryId || ''%>"
      />

      <label for="brand">Brand: </label>
      <input
        type="text"
        id="brand"
        name="brand"
        value="<%= item.brand || ''%>"
      />

      <label for="quantity">Quantity: </label>
      <input
        type="number"
        id="quantity"
        name="quantity"
        value="<%= item.quantity || ''%>"
      />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
